@font-face {
    font-family: "iconfont"; /* Project id 3602240 */
    src: url('//at.alicdn.com/t/c/font_3602240_9ap9a1fyr8k.woff2?t=1661084756550') format('woff2'),
         url('//at.alicdn.com/t/c/font_3602240_9ap9a1fyr8k.woff?t=1661084756550') format('woff'),
         url('//at.alicdn.com/t/c/font_3602240_9ap9a1fyr8k.ttf?t=1661084756550') format('truetype'),
         url('//at.alicdn.com/t/c/font_3602240_9ap9a1fyr8k.svg?t=1661084756550#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-huidaodingbu:before {
    content: "\e601";
  }
  
  .icon-a-dianzan1:before {
    content: "\e602";
  }
  
  .icon-dianzan:before {
    content: "\e603";
  }
  