@font-face {
  font-family: "iconfont"; /* Project id 3602240 */
  src: url('//at.alicdn.com/t/c/font_3602240_n1zr3upu91j.woff2?t=1662691819281') format('woff2'),
       url('//at.alicdn.com/t/c/font_3602240_n1zr3upu91j.woff?t=1662691819281') format('woff'),
       url('//at.alicdn.com/t/c/font_3602240_n1zr3upu91j.ttf?t=1662691819281') format('truetype'),
       url('//at.alicdn.com/t/c/font_3602240_n1zr3upu91j.svg?t=1662691819281#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e60c";
}

.icon-shoucang:before {
  content: "\e60a";
}

.icon-lishijilu:before {
  content: "\e60b";
}

.icon-wenda:before {
  content: "\e606";
}

.icon-shouye:before {
  content: "\e607";
}

.icon-wode:before {
  content: "\e608";
}

.icon-shipin:before {
  content: "\e609";
}

.icon-yanzhengma:before {
  content: "\e605";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-huidaodingbu:before {
  content: "\e601";
}

.icon-a-dianzan1:before {
  content: "\e602";
}

.icon-dianzan:before {
  content: "\e603";
}
